@import url(fontes.css);

html {
  scroll-behavior: smooth;
}

#screen {
  max-width: 100vw;
  height: 100vh;

}

#screen-home {
  background-color: rgb(24 17 26);
  position: relative;
  height: 100vh;

}

.caixa-total {
  margin-left: 12%;
  height: 100%;
}

.navigator {
  display: flex;
  align-items: end;
  color: white;
  height: 100px;
  text-transform: uppercase;
  min-width: 100%;
  max-width: 100%;
  position: relative;
  font-family: "Montserrat", sans-serif;

}

.logo-container h2 {
  font-size: 26px;
  margin-bottom: 0;
}

.logo-container h2 {
  cursor: pointer;
}

.nav-itens-container {
  display: flex;
  min-width: 10rem;
  margin-left: 57%;
  font-size: 18px;
  white-space: nowrap;
}

.nav-itens-container a {
  margin-right: 2rem;
  text-decoration: none;
  color: white;
}

.nav-itens-container a:hover {
  color: rgb(202 213 222);
}

.main {
  
  margin: 9% 0 0 0;
  width: 100%;
}

.informações-gerais {
  width: 32rem;

}

.informações-inner-container h2 {
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.informações-inner-container strong {
  color: rgb(205 74 82);
}

.informações-inner-container h3 {
  margin-top: 0.8%;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  filter: brightness(0.9);
}

.form-container {
  position: relative;
  display: flex;
}

.form-container input {
  height: 2.3rem;
  width: 50%;
  border-radius: 4px;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 18px;
  margin-top: 0.8%;
}

.form-container input:focus::placeholder {
  color: transparent;
}

.form-container button {
  margin-left: 8%;
  background-color: rgb(205 74 82);
  border: none;
  padding: 1.5px 22px 1.5px 22px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  color: rgb(24 17 26);
  font-size: 16px;
  align-items: center;
  font-weight: bold;
  margin-top: 0.8%;
}

.form-container label {
  position: absolute;
  bottom: -20px;

  color: white;
  font-size: 12.5px;
}

.form-container button:hover {
  transition: 100ms;
  transform: scale(1.04);
  background-color: rgb(205, 94, 101);
}

.form-container button:active {
  background-color: rgb(205 74 82);
  transform: scale(1);
}

.frase-banner {
  position: absolute;
  color: white;
  font-family: "Delicious Handrawn", cursive;
  right: -3%;
  top: 42.5%;
  transform: rotate(90deg);
  font-size: 20px;
  color: rgb(205 74 82);
  cursor: default;
}

.img {
  position: absolute;
  width: 46%;
  height: 300px;
  background: url(../images/zedao-removebg-preview.png);
  right: 0px;
  bottom: 0%;
  background-position-y: -1px;
  background-repeat: no-repeat;
}

.rodape {
  display: inline-flex;
  margin-top: 11%;
  max-width: 500px;
}

.rodape ul {
  padding: 0;
  width: auto;
  display: inline-flex;
}

.itens-rodape {
  display: inline-block;
  cursor: pointer;

}

.footer-ig {
  background: url(../images/logotipo-do-instagram.png);
  background-size: contain;
  background-repeat: no-repeat;

  width: 30px;
  height: 30px;
}

.footer-tw {
  background: url(../images/twitter.png);
  margin-left: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  width: 33px;
  height: 33px;
  background-position-y: -1px;

}

.footer-in {
  background: url(../images/linkedin.png);
  margin-left: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  background-position-y: -4px;
}

@media screen and (max-width:1220px) {
  .frase-banner {
    display: none;
  }
}
@media screen and (max-width:1110px) {
  .nav-itens-container{
    margin-left: 8vw;
  }
  .img{
  width: 55%;
  height: 300px;
  }
}
@media screen and (max-width:900px) {
  .img{
  width: 59%;
  height: 300px;
  }
}
@media screen and (max-width:720px) {
  .img{
  display: none;
  }
}
@media screen and (max-width:600px) {
 .caixa-total{margin-left:2rem;}
}
@media screen and (max-width:550px) {
 .caixa-total{margin-left:.6rem;}
}